<div class= "main-content page-m">
    <div class = "section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup] = "Login" #LoginInformation (ngSubmit)="Login(LoginInformation)">
                <div formGroupName="login" class="form-area">
                    <h3>Sing in</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Username</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="username" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Password</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="password" type="password"> 
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <button class="btn-primary">
                            Sign in
                        </button>
                    </div>
                    <div routerLink="/register" class="btn-link">Register</div>
                </div>
            </form>
        </div>
    </div>
</div>

